.accordion {
  display: block;
  width: 100%;
}

.accordion__header {
  width: 100%;
}

.accordion__button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 1em;
  padding-right: 16px;
  padding-bottom: 1em;
  padding-left: calc(16px + 1.5em);
  font-size: 16px;
  color: white;
  background-color: #606060;
  cursor: pointer;
}

.accordion__button::before,
.accordion__button::after {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  display: block;
  width: 1em;
  height: 1px;
  content: '';
  background-color: white;
  transition: all 0.2s ease;
}

.accordion__button::before {
  transform: translate(0, -50%);
}

.accordion__button::after {
  transform: translate(0, -50%) rotate(90deg);
}

.accordion__body {
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition: all 0.6s ease,
    height 0.6s 0.2s ease;
}

.accordion__body__inner {
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.accordion.is-active .accordion__button::before {
  transform: translate(0, -50%) rotate(90deg);
  opacity: 0;
}

.accordion.is-active .accordion__button::after {
  transform: translate(0, -50%) rotate(180deg);
}

.accordion.is-active .accordion__body {
  visibility: visible;
  opacity: 1;
  transition: all 0.6s 0.2s ease,
    height 0.4s ease;
}